body {
  background-color: beige;
}

h1 {
  text-align: center;
  text-shadow: black;
  font-family: "Times New Roman", Times, serif;
}

input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  padding-top: 6px;
  padding-left: 6px;
}
.information {
  border-style: groove;
  margin-left: 80px;
  margin-right: 80px;
}
